*.o
*.exe
*.hi
*.db
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
irc
scenes/
SceneSummary
*.png
ForumPost
*.swp
*.orig
*.*~
.stack-work/
*.gz
node_modules/
src/Config.hs
